<!-- templates/change_password.html -->
{% load compress %} {% load static %}
{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h2>Change Password</h2>
<form method="post">
  {% csrf_token %}
  <label for="old_password">Old Password:</label>
  <input type="password" name="old_password" id="old_password">
  <label for="new_password">New Password:</label>
  <input type="password" name="new_password" id="new_password">
  <button type="submit">Change Password</button>
</form>
{% endblock %}
