<!-- *Topic Content Page Start -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div>
      <!-- Display Topic Title -->
      <h1>{{ topic.title }}</h1>
  
      <!-- Display Topic Image (if available) -->
      {% if topic.image %}
      <div>
        <img src="{{ topic.image.url }}" alt="{{ topic.title }}" />
      </div>
      {% endif %}
  
      <!-- Display Full Topic Content -->
      <div>
        <p>{{ topic.content|linebreaks }}</p>
      </div>
  
      <!-- Back Button -->
      <div>
        <a href="{% url 'list_topics' topic.course.id %}">Back to Topics</a>
      </div>
    </div>
  </div>
  
  {% endblock %}